<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src = "/socket.io/socket.io.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="list-channel">
        <ul id="channels"></ul>
    </div>
    <div class="" id="list-room"></div>
    <div id="container-message">
    </div>
    <div id="poste-message">
        <form action="">
            <input type="text" id="message">
        </form>
    </div>
    <script src="js/handleDom.js"></script>
    <script src="js/handleSocket.js"></script>
    <script src="js/handleChannel.js"></script>
    <script src="js/request.js"></script>
    <script src="js/main.js"></script>
</body>
</html>