*{
    padding:0;
    margin:0;
}

#list-channel {
   position:fixed;
   background:#26262b;
   height: 100%;
   transform:translateX(-100px);
   transition: all ease-in 0.2s;
   z-index: 70000;
   padding: 10px 19px;
}
#list-channel:hover{
    transition: all ease-out 0.2s;
    transform:translateX(0px);
}
#list-users {
    height: 94vh;
    width:15%;
    border-right: 1px solid black;
    float:left;
    position: relative;
}
.clearfix {
    display: block;
    clear:both;
}
.containerChannelDisplay {
    z-index: 1000;
}
.containerChannelHidde {
    z-index:0
}
.labelActive {
    background: white;
}
.labelNotActive {
    background: #ccc;
}

#container-message {
    height: 94vh;
    width:84.2%;
    background:black;
    /* position:absolute; */
    display: inline-block;
}

#channels{
    width:100%;
}

#poste-message {
    width: 82.7%;
    height: 45px;
    display: inline-block;
    margin-left: 15%;
    /* position: relative; */
}

.container {
    height: inherit;
    width: inherit;
    background:#ccc;
    position: absolute; 
    padding:3px 7px 0px 7px;

}

#message {
    width: 100%;
    height: 55px;
    padding:15px;
}

.users li {
    text-align: center;
    display:block;
    font-size: 24px;
    border-bottom:1px solid black;
    width:100%;
}

.users {
   position:absolute;
   background:#ccc;
   height: inherit;
   width: 100%;
}

.users-list-display{
    z-index: 1000;
}

.users-list-hidde{
    z-index:0;
}

#channels > li {
    display: block;
    border-radius: 50%;
    height: 60px;
    width:60px;
    margin-bottom: 10px;
    padding:8px 5px;
    border-bottom:1px solid #ccc;
    cursor:pointer;
    text-align: center;
}